{% include 'CleanAdminBundle:Common:meta.html.twig' %}
<title>管理员管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 添加 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<article class="page-container">
    <form class="form form-horizontal" id="form" action="/admin/addAdminUserSubmit" method="post">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">公司/型号：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <select name="companyId" id="companyId">
                    <option value="-1">超级管理员</option>
                    {% for company in companyInfo %}
                    <option value="{{company.companyId}}">{{company.companyName|raw}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">真实姓名：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" value="" placeholder="真实姓名" id="realName" name="realName">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">用户名：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="text" class="input-text" value="" placeholder="用户名" id="userName" name="userName">
            </div>
        </div>         
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-2">密码：</label>
            <div class="formControls col-xs-8 col-sm-9"> 
                <input type="password" class="input-text" value="" placeholder="密码" id="password" name="password">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                <button class="btn btn-primary radius" id="submit" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>                
                <button id="reset" class="btn btn-default radius" type="button">&nbsp;&nbsp;取消&nbsp;&nbsp;</button>
            </div>
        </div>
    </form>
</article>

{% include 'CleanAdminBundle:Common:footer.html.twig' %}

<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/jquery.validate.js"></script> 
<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/validate-methods.js"></script> 
<script type="text/javascript" src="/assets/lib/jquery.validation/1.14.0/messages_zh.js"></script> 
<script type="text/javascript" src="/assets/lib/md5.min.js"></script>
<script type="text/javascript" src="/assets/js/addAdminUser.min.js"></script> 
</body>
</html>
