{% include 'CleanAdminBundle:Common:meta.html.twig' %}
<title>机器列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 机器管理 <span class="c-gray en">&gt;</span> 机器列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c"> 
        <input type="text" class="input-text" style="width:250px" placeholder="输入SN" id="sn" name="sn">
        <button type="submit" class="btn btn-success" id="search" name="search"><i class="Hui-iconfont">&#xe665;</i> 搜索</button>
    </div>
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" id="delAllList" class="btn btn-danger radius mr-5"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> {% if sn is empty %}<a href="/admin/getPathZip?sn=" id="zipList" class="btn btn-success radius"><i class="Hui-iconfont">&#xe641;</i> 批量下载</a>{% else %}<a href="javascript:window.history.go(-1);" class="btn btn-success radius">上一级</a>{% endif %}</span> <span class="r">共有数据：<strong id="listCount">0</strong> 条</span> </div>
    <table class="table table-border table-bordered table-bg" id="dataList">
        <thead>
            <tr>
                <th scope="col" colspan="6">机器列表</th>
            </tr>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="checkAll" value=""></th>
                <th>SN</th> 
                <th>日志查看</th>
                <th>日志文件查看</th>
                <th>清扫记录查看</th>         
                <th width="100">操作</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
<div id="page" class="mt-20"></div>

{% include 'CleanAdminBundle:Common:footer.html.twig' %}

<script type="text/javascript" src="/assets/lib/datatables/1.10.0/jquery.dataTables.min.js"></script> 
<script type="text/javascript" src="/assets/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/assets/js/debugPageList.min.js?20170329"></script>
 </body>
</html>